@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.button{
  @apply  py-2 px-4 transition-all ease-in-out duration-300 hover:bg-black hover:text-white hover:border-black text-black bg-white rounded-full border-2 ;
  &.button-counter { @apply py-2 px-4 transition-all ease-in-out duration-300 hover:bg-white hover:text-black hover:border-black text-white bg-black rounded-full border-2 border-black}
}
.logo{
  @apply font-bold text-2xl tracking-wide
}   
.header{
  @apply  h-15 flex justify-between px-10 items-center w-full mx-auto bg-white fixed  px-50
  

}
form {
  input,
  textarea {
    @apply border border-gray-300 bg-white w-full p-3;
  }
  textarea {
    @apply field-sizing-content min-h-12;
  }
}

[data-loading='true'] {
  @apply animate-pulse opacity-50;
}